<?xml version="1.0" encoding="utf-8"?>

<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:gravity="top|left"
    android:id="@+id/llAll">

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:background="#42ffbf">

        <ImageButton android:id="@+id/ibMap"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@mipmap/home_nopadding"
            android:background="@android:color/transparent" />
        <TextView
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:text="@string/menu"
            android:textSize="25sp"
            android:textColor="@android:color/black"
            android:paddingLeft="10dp"
            android:gravity="center_vertical" />

    </LinearLayout>
    <ScrollView
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:fillViewport="true"
        android:id="@+id/svScrollView">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:paddingLeft="10dp"
            android:paddingRight="10dp"
            android:orientation="vertical">
        <!---          Profile Buttons                     -->
            <TextView
                android:id="@+id/tProfileButtons"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/profile"
                android:textSize="20sp"
                android:textColor="@android:color/black"
                android:paddingTop="10dp"/>
            <View
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:background="@android:color/black"/>
                <LinearLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="vertical"
                    android:paddingLeft="5dp"
                    android:paddingRight="5dp">
                    <TextView
                        android:id="@+id/bYourProfile"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:text="@string/your_profile"
                        android:textSize="15sp"
                        android:background="@android:color/transparent"
                        android:paddingTop="10dp"
                        android:paddingBottom="10dp" />
                    <TextView
                        android:id="@+id/bProfileBackground"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:text="@string/profile_background"
                        android:textSize="15sp"
                        android:background="@android:color/transparent"
                        android:paddingTop="10dp"
                        android:paddingBottom="10dp" />
                    <TextView
                        android:id="@+id/bProfileName"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:text="@string/profile_name"
                        android:textSize="15sp"
                        android:background="@android:color/transparent"
                        android:paddingTop="10dp"
                        android:paddingBottom="10dp" />
                    <TextView
                        android:id="@+id/bProfilePrivacy"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:text="@string/profile_privacy"
                        android:textSize="15sp"
                        android:background="@android:color/transparent"
                        android:paddingTop="10dp"
                        android:paddingBottom="10dp" />
                </LinearLayout>
            <!--                 END OF PROFILE BUTTONS             -->
            <!--                Social Buttons                             -->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/social"
                android:textColor="@android:color/black"
                android:textSize="20sp"/>
            <View
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:background="@android:color/black"/>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="vertical"
                android:paddingLeft="5dp"
                android:paddingRight="5dp">
                <TextView
                    android:id="@+id/bSearchUser"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/search_users"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView
                    android:id="@+id/bFriends"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/friends"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView
                    android:id="@+id/tEvents"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/event"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp"/>

            </LinearLayout>

            <!--           END OF SOCIAL BUTTONS                    -->
            <!---        Settings Buttons                     -->
            <TextView
                android:id="@+id/textSettings"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/settings"
                android:textSize="20sp"
                android:textColor="@android:color/black"/>
            <View
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:background="@android:color/black"/>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="vertical"
                android:paddingLeft="5dp"
                android:paddingRight="5dp">
                <TextView android:id="@+id/bNotifications"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/notifications"
                    android:background="@android:color/transparent"
                    android:textSize="15sp"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView android:id="@+id/bAbout"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/about"
                    android:background="@android:color/transparent"
                    android:textSize="15sp"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView
                    android:id="@+id/bBlocking"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/blocking"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
            </LinearLayout>
            <!---        End of Settings Buttons               -->
            <!---                Account Buttons                    -->
            <TextView android:id="@+id/textAccount"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/account"
                android:textColor="@android:color/black"
                android:textSize="20sp" />
            <View
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:background="@android:color/black"/>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:paddingLeft="5dp"
                android:paddingRight="5dp"
                android:orientation="vertical">
                <TextView android:id="@+id/bChangeEmail"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/verify_email"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView android:id="@+id/bChangePassword"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/change_password"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView android:id="@+id/bSyncWithFacebook"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/sync_with_facebook"
                    android:textSize="15sp"
                    android:background="@android:color/transparent"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
                <TextView android:id="@+id/bLogOut"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="@string/log_out"
                    android:background="@android:color/transparent"
                    android:textSize="15sp"
                    android:paddingTop="10dp"
                    android:paddingBottom="10dp" />
            </LinearLayout>
            <!---        End of Account Buttons               -->
        </LinearLayout>
    </ScrollView>
</LinearLayout>
