<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brymian.bubbles">

    <!-- PERMISSIONS -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--________________________________Camera permissions______________________________________ -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash"/>
    <!--_________________________________________________________________________________________-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- THE APPLICATION -->
    <application
        android:name=".damian.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- BRYANT'S STUFF         android:theme="@style/AppTheme"-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".bryant.pictures.ProfilePicturesActivity2" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>
        <activity android:name=".bryant.camera.CameraPRACTICE" android:screenOrientation="portrait"/>
        <activity android:name=".bryant.camera.CameraDemoActivity" android:screenOrientation="portrait"/>

        <activity android:name=".bryant.friends.sent.SentFriendRequests" android:screenOrientation="portrait"/>
        <activity android:name=".bryant.episodes.EpisodeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".bryant.episodes.addfriends.EpisodeAddFriends" android:screenOrientation="portrait"/>
        <activity android:name=".bryant.map.MapsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".bryant.friends.FriendsList" android:screenOrientation="portrait"/>
        <activity android:name=".bryant.search.SearchActivity" android:screenOrientation="portrait">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".bryant.main.MainActivity" />
        </activity>
        <activity android:name=".bryant.camera.SendTo" android:screenOrientation="portrait"/>

        <activity android:name=".bryant.pictures.ProfilePicturesActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>

        <activity android:name=".bryant.camera.CameraActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>

        <activity android:name=".bryant.profile.ProfileName" android:screenOrientation="portrait"/>
        <!-- EVENTS CLASSES -->
        <activity android:name=".bryant.episodes.EpisodeCreate" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>
        <activity android:name=".bryant.episodes.EpisodeTop" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>
        <activity android:name=".bryant.episodes.EpisodeMy" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>
        <activity android:name=".bryant.episodes.EpisodeCurrent" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bryant.main.MainActivity" />
        </activity>
        <!-- END OF EVENTS CLASSES -->
        <activity android:name=".bryant.main.MainActivity" android:screenOrientation="portrait" android:launchMode="singleTop">

        </activity>
        <!-- PROFILE CLASSES -->
        <activity android:name=".bryant.profile.ProfileActivity" android:screenOrientation="portrait"/>
        <!-- END OF PROFILE CLASSES -->

        <!-- DAMIAN'S STUFF -->

        <!-- Main activity -->

        <!-- Facebook Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Facebook Application ID -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".damian.activity.AuthenticateActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".damian.activity.AuthenticateActivityFacebook"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".damian.activity.TESTActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".damian.fragment.Authenticate.RegisterFragment" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".damian.activity.AuthenticateActivity" />
        </activity>
    </application>

</manifest>